<acl>
    <!-- unique acl key, must be globally unique for all ACLs  -->
    <page-amneziawg>
        <name>WebCfg - AmneziaWG</name>
        <description>Allow access to the AmneziaWG module</description>
        <patterns>
            <pattern>ui/amneziawg/*</pattern>
            <pattern>api/amneziawg/*</pattern>
        </patterns>
    </page-amneziawg>
</acl>



